swagger: "2.0"
info:
  description: "howing API Doc"
  version: "1.0.0"
  title: "Swagger Howing"
  contact:
    email: "kunhoulee0403@gmail.com"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
externalDocs:
  description: How to use image path !
  url: https://developers.themoviedb.org/3/getting-started/images
host: howing.tw
basePath: /api/v1/
tags:
- name: "Movie"
  description: "Everything about Movies"
schemes:
- "https"
definitions:
  Page:
    type: integer
    description: current page
    example: 1
  TotalResults:
    type: integer
    description: the number of total results
    example: 419895
  TotalPages:
    type: integer
    description: the number of total page
    example: 20995
  MovieIntro:
    type: object
    description: movie introduction
    properties:
      id:
        type: integer
        example: 2274
        description: the ID of movie
      title:
        type: string
        example: "猛毒"
        description: 片名
      originalTitle:
        type: string
        example: "Venom"
        description: 原文片名
      posterPath:
        type: string
        description: 電影海報
        example: "/Af60AXjBCI1ZeDS2UxzWRwZ3wlY.jpg"
      backdropPath:
        type: string
        description: 背景海報
        example: "/Af60AXjBCI1ZeDS2UxzWRwZ3wlY.jpg"
      popularity:
        type: number
        description: 熱門分數
        example: 371.566
      vote_average:
        type: number
        description: 投票平均分數滿分10分
        example: 6.6
      vote_count:
        type: integer
        description: 總投票數
        example: 1583
      overview: 
        type: string
        description: 簡介
        example: "索尼影業在與漫威影業合作了全新的《蜘蛛人：返校日..."
      directing:
        $ref: '#/definitions/Directing'
      cast:
        $ref: '#/definitions/Cast'
  MovieDetail:
    type: object
    description: movie introduction
    properties:
      id:
        type: integer
        example: 2274
        description: the ID of movie
      title:
        type: string
        example: "猛毒"
        description: 片名
      originalTitle:
        type: string
        example: "Venom"
        description: 原文片名
      posterPath:
        type: string
        description: 電影海報
        example: "/Af60AXjBCI1ZeDS2UxzWRwZ3wlY.jpg"
      backdropPath:
        type: string
        description: 背景海報
        example: "/Af60AXjBCI1ZeDS2UxzWRwZ3wlY.jpg"
      popularity:
        type: number
        description: 熱門分數
        example: 371.566
      vote_average:
        type: number
        description: 投票平均分數滿分10分
        example: 6.6
      vote_count:
        type: integer
        description: 總投票數
        example: 1583
      adult:
        type: boolean
        description: 18禁
        example: false
      releaseDate:
        type: string
        description: 上映時間
        example: "2018-10-03T00:00:00Z"
      genre:
        type: array
        description: 類型
        items:
          type: string
        example: ["科幻","動作","喜劇","犯罪"]
      overview: 
        type: string
        description: 簡介
        example: "索尼影業在與漫威影業合作了全新的《蜘蛛人：返校日..."
      directing:
        $ref: '#/definitions/Directing'
      cast:
        $ref: '#/definitions/Cast'
  Directing:
    type: array
    description: 導演
    items:
      type: object
      properties:
        id:
          type: integer
          description: the id of person
          example: 84764
        name:
          type: string
          description: 名字
          example: "Ruben Fleischer"
        gender:
          type: integer
          description: 性別 (0 - Not specified, 1 - Female, 2 - Male)
          example: 2
        profilePath:
          type: string
          description: 人物照片
          example: "/5BrXeKb0XxT0g20F35ndC05ztbZ.jpg"
  Cast:
    type: array
    description: 演員
    items:
      type: object
      properties:
        id:
          type: integer
          description: the id of person
          example: 2269
        name:
          type: string
          description: 名字
          example: "Riz Ahmed"
        gender:
          type: integer
          description: 性別 (0 - Not specified, 1 - Female, 2 - Male)
          example: 2
        profilePath:
          type: string
          description: 人物照片
          example: "/yWjuIP634unLBCB4XjSgmJs5QGC.jpg"
        order:
          type: integer
          description: 主演順序
          example: 0

parameters:
  movieID:
    name: id
    in: path
    description: id of movie
    required: true
    type: integer
    
paths:
  '/movies':
    get:
      parameters:
        - in: query
          name: page
          description: page number
          type: integer
          default: 1
        - in: query
          name: limit
          description: results per page 
          type: integer
          default: 20
        - in: query
          name: sort_by
          description: sort by property
          type: string
      tags: 
        - Movie
      responses:
        '200':
          description: 'Successful operation, return movie list'
          schema:
            type: object
            properties:
              page:
                $ref: '#/definitions/Page'
              totalPage:
                $ref: '#/definitions/TotalPages'
              totalResults:
                $ref: '#/definitions/TotalResults'
              results:
                type: array
                items:
                  $ref: '#/definitions/MovieIntro'
  '/movies/{id}':
    get:
      parameters:
        - $ref: '#/parameters/movieID'
      tags: 
          - Movie
      responses:
        '200':
          description: 'Successful operation, return movie list'
          schema:
            $ref: '#/definitions/MovieDetail'